
.logo {
    width: 250px;
    margin: 10px;
}

.legend {
    display: block;
    font-size: 20px;
    margin: 10px;
}

.comments {
    margin-top: 50px;
    padding-top: 20px;
    border-top: 1px solid #e8dcdf;
}
.comments__title {
    font-size: 16px;
    font-weight: bold;
}

.comments__wrap {
    padding: 10px 0;
}

.comments__body {
    background: #e8e5fd;
    margin: 10px 0;
    padding: 20px 15px;
    border-radius: 20px;
}
.comment__title {
    font-size: 14px;
    font-weight: bold;
    color: #3c3c3c;
}
.comment__body {
    font-size: 16px;
    word-wrap: break-word;
}
.comment__name {
    font-size: 14px;
    font-weight: bold;
    color: #418caf;
}
.comment__date {
    display: inline-block;
    margin: 0 5px;
    font-size: 12px;
    color: #868592;
}
.comment__autor {
    text-align: right;
}
#commentForm {
    width: 70%;
    margin: 0 auto;
}
.footer_social {
    text-align: right;
    margin: 30px 0;
}